/*!
 * Supplemental stylesheet to customize bootstrap.
 */

/* Alignment helpers. */
.top-buffer-1 {
    margin-top: 1%;
}

.top-buffer-2 {
    margin-top: 2%;
}
.top-buffer-3 {
    margin-top: 3%;
}

.top-buffer-5 {
    margin-top: 5%;
}

.bottom-buffer-2 {
    margin-bottom: 1%;
}

.bottom-buffer-2 {
    margin-bottom: 2%;
}

.bottom-buffer-3 {
    margin-bottom: 3%;
}

.left-buffer-20px {
    margin-left: 20px;   
}

/* Fonts. */
.name {
    font-family: 'Montserrat', sans-serif;
    font-size: 400%;
    letter-spacing: 1px;
}

.body-text {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

/* Colors. */
body {
    background-color: #E6E6E6;
}

a {
    color: #757575;
    text-decoration: none!important;
}

a:hover {
    color: inherit;
}

/* Selection. */
::selection{
    background: #535353;
    color: #fff;
}

::-moz-selection {
    background: #535353;
    color: #fff;
}