/* Fonts. */
nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

/* Alignment helpers. */
.top-margin-1 {
  margin-top: 1%;
}

.top-margin-2 {
  margin-top: 2%;
}
.top-margin-3 {
  margin-top: 3%;
}

.top-margin-5 {
  margin-top: 5%;
}

.top-margin-20px {
  margin-top: 20px;
}

.bottom-margin-2 {
  margin-bottom: 1%;
}

.bottom-margin-2 {
  margin-bottom: 2%;
}

.bottom-margin-3 {
  margin-bottom: 3%;
}

.left-margin-20px {
  margin-left: 20px;   
}

.padding-10px {
  padding: 10px;
}

/* Colors. */
body {
  background-color: #EEE;
  color: #333;
}

a {
  color: #757575;
  text-decoration: none!important;
}

a:hover {
  color: inherit;
}

/* Selection. */
::selection{
  background: #535353;
  color: #fff;
}

::-moz-selection {
  background: #535353;
  color: #fff;
}

/* Specific formatting. */
.employer-icon {
  width: 100px;
}