<footer>
  <div class="container text-center social-icons mt-sm-5">
    <a href="mailto:ben.overholts@outlook.com" target="_blank">
      <i class="icon-envelope-square"></i>
    </a>
    <a href="https://www.facebook.com/overholts" target="_blank">
        <i class="icon-facebook-square"></i>
    </a>
    <a href="https://www.twitter.com/BenOverholts" target="_blank">
        <i class="icon-twitter-square"></i>
    </a>
    <a href="https://www.linkedin.com/in/benoverholts" target="_blank">
        <i class="icon-linkedin-square"></i>
    </a>
    <a href="https://www.github.com/overholts" target="_blank">
        <i class="icon-github-square"></i>
    </a>
  </div>
</footer>